$color_headertop: rgb(0, 0, 0, 0.74);
$color_header_text: white;
$color_headerbottom: rgb(113, 113, 113, 0.9);
$color_border: rgb(0,0,0,0.2);
$color_font_goods: #717171;
$color_price:#36873E;
$color_dot: rgb(95, 95, 95,0.37);
$color_dot_top: rgb(255, 255, 255, 0.37);
$color_dot_top_active: white;
$color_cookes:#4b4b4b;