.goods-slider {
    position: relative;
    display: flex;
    grid-gap: 1em;
    overflow: hidden;
    width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 60px;
    
    // display: flex;
    // width: 100%;
    // height: auto;
    // overflow: hidden;
    .goods-slider-list {
        box-shadow: none;
        display: flex;
        grid-gap: 40px;
        transition: all 0.6s ease-in-out;
        width: 100%;
        // gap: 50px;
        height: 100%;
        // display: flex;
        position: relative;
        left: 0;
        // transition: all ease 1s;
        div img {
            display: block;
            // width: 17.5em;
            width: 281px;
            height: 191px;
        }
    }
    div {
        padding: 25px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0.1em 0.4em 0.7em 7px rgb(0,0,0,0.17);
        img {
            width: 100%;
        }
        h4 {
            margin: 0;
            text-align: left;
        }
        p {
            text-align: left;
        }
        .green-pr {
            margin: 0;
            font-weight: 700;
            color: $color_price;
            text-align: right;
        }
    }
}