.header-top {
    background-color: $color_headertop;
    padding: 10px 200px 10px 200px;
    display: flex;
    justify-content: space-between;
    .header-top-flex {
        display: flex;
        gap: 55px;
    }
}