.header-bottom {
    font-weight: 600;
    background-color: $color_headerbottom;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 200px 10px 200px;
}